<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{83,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{166,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{249,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{332,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{415,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{498,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{581,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{664,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{747,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{830,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{913,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{996,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1079,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1162,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1245,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1328,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1411,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1494,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,306}</string>
                <key>spriteSourceSize</key>
                <string>{83,306}</string>
                <key>textureRect</key>
                <string>{{1577,0},{83,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battlerating.png</string>
            <key>size</key>
            <string>{1660,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ce673907ecf45c9a5b94fd7a03def1d:36922bad9131f6a5243ba96c8c867edd:0994596ff36a745c45f2b7a449e914e6$</string>
            <key>textureFileName</key>
            <string>battlerating.png</string>
        </dict>
    </dict>
</plist>
