<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,0},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,135},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,270},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,405},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,540},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,675},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,810},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,945},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{0,1080},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{95,1215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2688a374c6b9adef234e4968127fb6d8:9a6abe799c53b2f7b387a8f271adb128:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
